In [9]:
import pandas as pd
import numpy as np

In [10]:
df1 = pd.read_csv('data.csv',index_col=False, encoding='iso-8859-1', 
                                warn_bad_lines=True, error_bad_lines=False)

df2 = pd.read_csv('data.csv',index_col=False, encoding='iso-8859-1', 
                                warn_bad_lines=True, error_bad_lines=False)

In [11]:
df1.label[df1.label == 1]="acpt"
df1.label[df1.label == 0]="unac"

df2.label[df2.label == 1]="acpt"
df2.label[df2.label == 0]="unac"

C:\Users\moshi\AppData\Local\Temp/ipykernel_12968/3898086040.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.label[df1.label == 1]="acpt"
C:\Users\moshi\AppData\Local\Temp/ipykernel_12968/3898086040.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.label[df2.label == 1]="acpt"

In [12]:
# taking acceptable and deleting unacceptable
df3 = df1[~df1.label.str.contains('acpt')]

In [13]:
# randomly picking 250 rows
df3 = df3.sample(n=250, replace=True)

In [14]:
df3["label"].value_counts()

unac    250
Name: label, dtype: int64

In [15]:
# taking unacceptable and deleting unacceptable
df4 = df2[~df2.label.str.contains("unac")]

In [16]:
# randomly picking 250 rows
df4 = df4.sample(n=250, replace=True)

In [17]:
df4["label"].value_counts()

acpt    250
Name: label, dtype: int64

In [18]:
#concating acceptable and unacceptable
frames = [df3, df4]

temp = pd.concat(frames)

In [19]:
temp["label"].value_counts()

unac    250
acpt    250
Name: label, dtype: int64

In [20]:
temp.head()

     label                                               text
692   unac  Clearly, John immediately will probably learn ...
1883  unac           There will be the hole in Jack's pocket.
8351  unac                        You said she liked yourself
4419  unac                         Kim must will bake a cake.
4009  unac                  We caught them eaten the bananas.

In [21]:
temp.tail()

     label                                         text
6228  acpt             Susan sent the package to Heidi.
7175  acpt            I love but you hate ice milk tea.
5410  acpt                     He gave me many marbles.
7709  acpt  Jason persuaded Medea to desert her family.
3785  acpt  She reminded him of the last time they met.

In [22]:
temp["label"].value_counts()

unac    250
acpt    250
Name: label, dtype: int64

In [24]:
text = temp['text'].values.tolist()
emotion= temp['label'].tolist()

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(text , emotion, test_size=.2, random_state=42)

In [26]:
import ktrain
from ktrain import text
MODEL_NAME = 'sagorsarker/bangla-bert-base'
t = text.Transformer(MODEL_NAME, maxlen=500)

In [27]:
trn = t.preprocess_train(X_train, y_train)
val = t.preprocess_test(X_test, y_test)

preprocessing train...
language: en
train sequence lengths:
	mean : 8
	95percentile : 16
	99percentile : 21

Is Multi-Label? False
preprocessing test...
language: en
test sequence lengths:
	mean : 8
	95percentile : 17
	99percentile : 19

In [28]:
model = t.get_classifier()

In [29]:
learner = ktrain.get_learner(model, train_data=trn, val_data=val, batch_size=6)

In [30]:
learner.fit_onecycle(2e-5, 5)

begin training using onecycle policy with max lr of 2e-05...
Epoch 1/5
67/67 [==============================] - 733s 11s/step - loss: 0.7088 - accuracy: 0.4750 - val_loss: 0.6862 - val_accuracy: 0.5400
Epoch 2/5
67/67 [==============================] - 878s 13s/step - loss: 0.7035 - accuracy: 0.5500 - val_loss: 0.6826 - val_accuracy: 0.5500
Epoch 3/5
67/67 [==============================] - 2467s 37s/step - loss: 0.7167 - accuracy: 0.4825 - val_loss: 0.6979 - val_accuracy: 0.4700
Epoch 4/5
67/67 [==============================] - 1821s 27s/step - loss: 0.6913 - accuracy: 0.5400 - val_loss: 0.6771 - val_accuracy: 0.5700
Epoch 5/5
67/67 [==============================] - 3376s 49s/step - loss: 0.6859 - accuracy: 0.5400 - val_loss: 0.6810 - val_accuracy: 0.4600

In [32]:
class_names=["acpt","unac"]

In [33]:
learner.validate(val_data=(val), class_names=class_names)

              precision    recall  f1-score   support

        acpt       0.50      0.19      0.27        54
        unac       0.45      0.78      0.57        46

    accuracy                           0.46       100
   macro avg       0.47      0.48      0.42       100
weighted avg       0.48      0.46      0.41       100

array([[10, 44],
       [10, 36]], dtype=int64)